<?xml version="1.0"?>
<model>
  <name>x500_auto</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ChungNT</name>
    <email>chungnt@autopilot.local</email>
  </author>
  <description>X500 drone with gimbal and 3 OakD-Lite cameras (front, back, bottom) for obstacle avoidance and autonomous flight.</description>
</model>
